<link rel="stylesheet" href="css/game.css">

<div id="game-container">
    <header id="game-header">
        <h1 id="game-name">Cargando partida…</h1>
        <div id="game-progress" class="game-progress-bar"></div>
        <p id="turn-info">Turno: — | Fecha: —</p>

    </header>
    <div class="tabletop-container">
        <main id="map">
        </main>
    </div>
    <div class="details">
        <span>Selecciona una zona o una locación en el mapa</span>

    </div>
    <footer id="game-footer">
        <div class="players-list">
            <!-- Aquí se mostrarán los círculos de jugadores y sus puntos -->
        </div>
    </footer>
</div>

<dialog id="panel-apply-influence" class="panel">



</dialog>